.report__type-wrapper {
    display: flex;
}

.report__type-title {
    flex: 0 0 33.3%;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.report__type-section {
    display: none;
}

.report__type-section.active {
    display: block;
}